[include mmu/base/*.cfg]
[include mmu/optional/client_macros.cfg]
[include configs/mainsail.cfg]                  # Include configuration from mainsail.cfg file
[include configs/devices.cfg]
[include configs/cartographer.cfg]
[include configs/calibration.cfg]
[include configs/KAMP_Settings.cfg]
[include configs/steppers.cfg]
[include configs/bed.cfg]
[include configs/extruder.cfg]
[include configs/fans.cfg]
[include configs/leds.cfg]
[include configs/macros.cfg]
#[include configs/filament.cfg]
[include configs/nozzle_scrub.cfg]
[virtual_sdcard]
path: /home/pi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT            # G-code to execute on error (defined in CANCEL_PRINT macro)

[gcode_arcs]
resolution: 0.1                         # Arc interpolation resolution, handles G2/G3 commands

[exclude_object]                        # Exclude object for cancellation

[force_move]
enable_force_move: true                 # Enable force move feature

[respond]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [scanner]
#*# mode = touch
